<h1> Our Form to Create a Check In Form </h1>

<%= form_for CheckInForm.new, url: {action: "create"} do |f| %>
  Name: <%= f.text_field :name %>
  SID: <%= f.text_field :SID %>
  Event: <%= f.text_field :event %>
  <%= f.submit "Create" %>
<% end %>