<div class="home-banner" align="center">
  <h1>Check-In Details</h1>
</div>

<div align="center">
  <h3>Name</h3>
  <%= @form.name %>
  <h3>SID</h3>
  <%= @form.SID %>
  <h3>Event</h3>
  <%= @form.event %>
  <h3>TA</h3>
  <%= @form.teaching_assistant %>
  <br>
  <br>

  <%= link_to 'Check-In Another Lab Assistant', new_check_in_form_path %>
  <br>
  <%= link_to 'Edit This Check-In', edit_check_in_form_path %>
  <br>
  <%= link_to 'Delete This Check-In', check_in_form_path, :method => :delete %>
  <br>
  <br>
  <%= link_to 'Back to Dashboard', teaching_assistants_dashboard_path %>
  <br>
</div>