<br>
<h2 align="center"> Check In Form <%= @form.id %> Detail View</h2>

<h1>Showing Check In Form Details</h1>
<h3>Name</h3>
<%= @form.name %>
<br>
<h3>SID</h3>
<%= @form.SID %>
<h3>Event</h3>
<%= @form.event %>
<h3>TA</h3>
<%= @form.teaching_assistant %>
<br>
<br>

<%= link_to 'Check in another lab assistant', new_check_in_form_path %>
<br><br>
<%= link_to 'Edit this form', edit_check_in_form_path %>
<br><br>
<%= link_to 'Delete This Check-In', check_in_form_path, :method => :delete %>
<br><br>
<%= link_to 'Back to dashboard', teaching_assistants_dashboard_path %>