<h1>Showing Check In Form Details</h1>
<h3>Name</h3>
<%= @form.name %>
<br>
<p> Current Lab Assistants: </p>
<% for l in @las %> 
	<%= l.email %>
<% end %>
<br>

<p> 
	<%= form_for @form do |f| %>
	  <% options = options_from_collection_for_select(@las, 'id', 'email') %>
	  <%= f.select :id,  options, include_blank: true %>
	  <%= f.hidden_field :lab_time_id, :value => @form.id %>
	  <%= f.hidden_field :check_in, :value => true %>
      <input name="check_in_la" type="submit" value="Check In"/>
	<% end %>
</p>

<p> Checked In Lab Assistants: </p>
<% for c in @checkins %> 
	<p> <%= LabAssistant.find(c).email %> </p>
<% end %>

<%= link_to 'Edit this form', edit_check_in_form_path %>