<div class="container">
	<br>
	<h1 align="center"> Lab Time <%= @l.id %> Detail View</h1>

	<% if @current_user.is_a? Admin %>
		<h4> Assign Lab Assistant To Lab Time <%= @l.id %> </h4>
		<p> 
			<%= form_for @l do |f| %>
				
			  <% case @l.course_id%>
			  <% when 1 %>
					<% options = options_from_collection_for_select(@a_las, 'id', 'email') %>
			  <% when 2 %>
				  <% options = options_from_collection_for_select(@b_las, 'id', 'email') %>
			  <% when 3 %>
				  <% options = options_from_collection_for_select(@c_las, 'id', 'email') %>	
			  <% else %>
				  <!-- more classes in future -->
			  <% end %>
			  <%= f.select :id,  options, { include_blank: true }, { class: "form-control form-time" } %>
			  <%= f.hidden_field :lab_time_id, :value => @l.id %>
		      <input name="assign_la" type="submit" value="Assign LA" class="btn btn-primary">
			<% end %>
		</p>

	<br><br>	
	<% end %>

	<h4>Current Lab Assistants:</h4>

	<% unless @curr_las.empty? %>
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<th>E-mail</th>
			</thead>
			<tbody>
			<% for c in @curr_las %>
				<tr>
					<td><%= c.email %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	<% else %>
		<p> No Lab Assistants Assigned to Lab Yet </p>
	<% end %>
</div>