<div class="home">

	<a href="admins/sign_in">Admin Login</a><br />
	<a href="teaching_assistants/sign_in">TA Login</a>

	<div class="home-banner">
	  <h2>CS61A Lab Assistant Homepage</h2>
	</div>	

	<div class="information">
	  <div class="container">
	    <div class="row">
	      <div class="about">
	        <div class="content">
	          <div class="heading">
	            Teaching Assistant Creation
	          </div>
	          <%= form_for @teachingassistant do |f| %>
				First name: <%= f.text_field :first_name, required: "" %><br />
				Last name : <%= f.text_field :last_name, required: "" %><br />
				Email : <%= f.email_field :email, required: "" %><br />
				<%= f.submit %>
			  <% end %>
	        </div>
	      </div>

	      <div class="about">
	        <div class="content">
	          <div class="heading">
	            Lab Assistant Creation
	          </div>
	          <%= form_for @labassistant do |f| %>
				First name: <%= f.text_field :first_name, required: "" %><br />
				Last name : <%= f.text_field :last_name, required: "" %><br />
				Email : <%= f.email_field :email, required: "" %><br />
				<%= f.submit %>
			  <% end %>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
