<div class="container">
	<div class="row">    
		<br>
		<h1 align="center"> Teaching Assistant Dashboard</h1>

		<a class="btn btn-primary btn-lg" href= <%="#{new_check_in_form_path}"%>> Check In Here </a> 

		<br><br>

		<h4>Lab Assistants</h4>

		<% unless @la.empty? %>
			<%= form_tag teaching_assistants_dashboard_path do %>

				<span>
					<%= submit_tag "Validate", :class=> "btn btn-success" %>
					<%= submit_tag "Invalidate", :class=> "btn btn-warning" %>
					<%= submit_tag "Delete", :class=> "btn btn-danger" %>
				</span>

				<br><br>

				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Full Name</th>
							<th>Email</th>
							<th>Validation Status</th>
						</tr>
					</thead>
					<tbody>
						<% for l in @la do %>
							<tr>
								<td> <%= check_box_tag 'la_ids[]', l.id %> </td> 
								<td> <a href= <%="#{lab_assistant_path(l)}"%>> <%= l.first_name %> <%=l.last_name %> </a></td>
								<td> <%= l.email %> </td>
								<td> <%= text_for_validation_status(l.validated) %></td>
							</tr>
						<% end %>

					</tbody>
				</table>
			<% end %>
		<% else %>
			<p> NO Lab Assistants FOUND </p>
		<% end %>

		<br><br>

		<h4> Lab Times </h4>
		<% unless @lt.empty? %>
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Lab</th>
						<th>Day</th>
						<th>Beginning</th>
						<th>Ending</th>
					</tr>
				</thead>
				<tbody>
					<% for t in @lt do %>
						<tr>
							<td> <a href=<%= lab_time_path(t)%>> <%= t.id %> </a> </td>
							<td> <%= t.day.strftime("%A") %> </td>
							<td> <%= t.open.strftime("%I:%M%p") %> </td>
							<td> <%= t.close.strftime("%I:%M%p") %> </td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p> NO Lab Times FOUND </p>
		<% end %>
	</div>
</div>