<div class="row">    
	<br>
	<h2 align="center"> Admin Dashboard Stuff</h2>
	<p>Lab Assistants</p>
	<% unless @la.empty? %>
		<%= form_tag admin_dashboard_path do %>
			<table>
				<tr>
					<th></th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Validation Status</th>
				</tr>
			<% for l in @la do %>
				<tr>
					<td> <%= check_box_tag 'la_ids[]', l.id %> </td>
					<td> <a href= <%="#{lab_assistant_path(l)}"%>> <%= l.first_name %> </a></td>
					<td> <%= l.email %> </td>
					<td> <%= text_for_validation_status(l.validated) %></td>
				</tr>
			<% end %>
		</table>

		<%= submit_tag "Validate" %>
		<%= submit_tag "Invalidate" %>
		<%= submit_tag "Delete" %>

		<% end %>
	<% else %>
		<p> NO Lab Assistants FOUND </p>
	<% end %>
	<p>Teaching Assistants</p>
	<% unless @ta.empty? %>
		<%= form_tag admin_dashboard_path do %>
			<table>
				<tr>
					<th></th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Validation Status</th>
				</tr>
			<% for t in @ta do %>
				<tr>
					<td> <%= check_box_tag 'ta_ids[]', t.id %> </td>
					<td> <a href= <%="#{teaching_assistant_path(t)}"%>> <%= t.first_name %> </a></td>
					<td> <%= t.email %> </td>
					<td> <%= text_for_validation_status(t.validated) %></td>
				</tr>
			<% end %>
		</table>

		<%= submit_tag "Validate" %>
		<%= submit_tag "Invalidate" %>
		<%= submit_tag "Delete" %>

		<% end %>	

	<% else %>
		<p> NO Teaching Assistants FOUND </p>
	<% end %>
</div>